<app-resident-create-modal [(open)]="isModalOpen"></app-resident-create-modal>

<div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-base text-blueGray-700">Residents</h3>
        </div>
        <button class="btn" (click)="isModalOpen = true">Create</button>

        <button class="btn" (click)="onLoad()">testa ai broder</button>
      </div>
    </div>

    <div class="block w-full overflow-x-auto">
      <div *ngIf="loading$ | async">
        tá carregando man
      </div>
      <table class="items-center bg-transparent w-full border-collapse ">
        <thead>
        <tr>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            id
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            name
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            actions
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let resident of (residents$ | async)">
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
            {{resident.id}}
          </th>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
            {{resident.name}}
          </td>
          <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <button class="btn" (click)="isModalOpen = true">Edit</button>
            <button class="btn" (click)="onDelete(resident.id)">Delete</button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
