<div class="container w-full mx-auto font-mono">
  <div class="flex justify-center px-6 my-12">
    <div class="w-full flex">
      <div class="w-full bg-white p-5 rounded-lg">
        <div class="px-8 mb-4 text-center">
          <h3 class="pt-4 mb-2 text-2xl">TownSq Oficina NgRx</h3>
          <p class="mb-4 text-sm text-gray-700">
            Just some links to help you guys out!
          </p>
        </div>
        <hr class="mb-6 border-t"/>
        <div class="text-center">
          <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
             href="https://rxjs.dev/guide/overview"
             target="_blank">
            RxJs
          </a>
        </div>
        <div class="text-center">
          <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
             href="https://ngrx.io/guide/store"
             target="_blank">
            NgRx
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
